[MESSAGES CONTROL]
disable=invalid-name,
    duplicate-code,
    line-too-long,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring
